/* Webfont: MacPawFixelDisplay-SemiBold */
@font-face {
    font-family: 'MacPawFixelDisplaySemiBold';
    src: url('../fonts/MacPawFixelDisplay-SemiBold.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/MacPawFixelDisplay-SemiBold.otf') format('opentype'); /* Safari, Android, iOS */
	font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: MacPawFixelDisplay-Bold */
@font-face {
    font-family: 'MacPawFixelDisplayBold';
    src: url('../fonts/MacPawFixelDisplay-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/MacPawFixelDisplay-Bold.otf') format('opentype'); /* Safari, Android, iOS */
	font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

*:focus {
	outline: 1px dotted #FFAF1E;	
}

body {
	font-size: 14px; 
	font-family: "MacPawFixelDisplaySemiBold", Georgia;	
}


a {
	text-decoration: none;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	box-sizing: border-box;
	/*border: 1px solid rgba(255, 0, 255, 0.348); /* тимчасово */
	/*border: 1px solid magenta;*/
	/*background-color: rgba(255, 0, 255, 0.01); /* тимчасово */
	padding: 0 15px;	
	
	flex-wrap: wrap;
}

.head_menu_container {
	background-color: #F5F7FA;
	border: 1px solid #EAEBED;
	; /* тимчасово */
	box-sizing: border-box;	

}
.head_menu_container .container {
	justify-content: space-between;
}

.head_menu {	
	/* display: flex; - вирішив спробувати грід */
	/*flex-wrap: wrap; це пізніше*/
	box-sizing: border-box;	
	display: inline-grid;
	grid-template-columns: repeat(4, auto);
	width: 450px;
	justify-items: center;
}

.head_menu_item {
	min-height: 2rem; /* тимчасово */
	display: flex; /* для зручного центрування (див. нижче) */
	align-items: center;	/* в флексах це просто */
	box-sizing: border-box;
	/*border: 1px solid #d8d9da;*/
	margin: 0 5px;
	padding: 0 5px;
	color: #979FAD;	

	/* underground_line for hover */
	border-bottom: 2px solid #FFAF1E00;
}
.head_menu_item:first-child {
	margin-left: 0;
	padding-left: 0;
}

.login_container {
	font-family: "MacPawFixelDisplayBold", Georgia;	
	/*font-weight: 900;*/
	
	display: flex;
	align-items: center;	/* в флексах це просто / центрування за висотою */

	box-sizing: border-box;
	/*border: 1px solid rgba(0, 255, 26, 0.348); /* тимчасово */
	/*background-color: rgba(0, 255, 157, 0.01); /* тимчасово */
}

.login_item_vr {	
	box-sizing: border-box;
	border: 1px solid #333333; /* тимчасово */	
	height: 1rem;
}

.login_item {
	min-height: 2rem; /* тимчасово */
	color: #333333;
	box-sizing: border-box;
	margin: 0 5px;
	padding: 0 5px;
	display: flex; /* для зручного центрування (див. нижче) */
	align-items: center;	/* в флексах це просто */
	
	/* underground_line for hover */
	border-bottom: 2px solid #FFAF1E00;	
}

.head_menu_item:hover, .login_item:hover {
	border-bottom: 2px solid #FFAF1E;
	color: #FFAF1E;

	/*filter: drop-shadow(1px -1px 0px rgba(0, 0, 0, 0.7));*/
}

.person:hover {
	background-image: url(../images/person-fill_hover.svg);
}

.person {
	background-image: url(../images/person-fill.svg);
	background-size: 1rem 1rem;
	background-position: left 0.3rem;
	background-repeat: no-repeat;

	padding-left: 1.4rem;
}

.head_logo_cart {
	justify-content: space-between;
	min-height: 5rem;
	/*background-color: #FFAF1E;*/
}

.logo {
	display: block;
	background-image: url(../images/shtab.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	/*height: 3rem;*/
	min-width: 9rem;	
	/*border: 1px solid magenta; /* тимчасово */
	box-sizing: border-box; /* тимчасово */
}

.logo:hover {
	background-image: url(../images/shtabh.png);	
}

.cart_box {
	/*border: 1px solid magenta; /* тимчасово */
	/*box-sizing: border-box; /* тимчасово */	
	display: flex;
	/*align-items:center;*/
}

.cart_box  div {
	/*border: 1px solid magenta; /* тимчасово */
	/*box-sizing: border-box; /* тимчасово */				
}

.cart {
	background-image: url(../images/cart.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 32px;
	min-width: 32px;
	display: flex;
	
}

.quantity{
	width: 100%;
	background-image: url(../images/1-circle-fill.svg);
	background-repeat: no-repeat;
	background-position: right 5px top 20px;	
}

.cart_content {
	display: flex;
	/*align-items: center;   по горизонту*/
	flex-direction: column;
	justify-content: center;
	min-width: 150px;
	padding: 0 5px;
}

.in_cart {
	font-family: "MacPawFixelDisplayBold", Georgia;	
	color: #333333;
}

.cart_price {
	color: #979FAD;	
}

.cart_only_price {
	display: none;
	color: #979FAD;	
}

.search_container_for_background {
	background-color: #FFAF1E;
	border: 1px solid #dd9000; /* тимчасово */
	box-sizing: border-box; /* тимчасово */	
}

.search_box {
	min-height: 2rem;
	border: 1px solid magenta; /* тимчасово */
	box-sizing: border-box; /* тимчасово */	
}

.cart_box:hover {
	filter: drop-shadow(1px 1px 1px #FFAF1Eee);
}

.head_menu_burger {
	background-image: url(../images/gamburger.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 38px 38px;
	width: 44px;
	height: 44px;
	display: none;	
}

.head_menu_burger:hover {
	background-image: url(../images/gamburgerh.svg);
}

.search_box {
	display: grid;

	grid-template-columns: auto 1fr 120px;
	padding: 7px 140px;
}

.search_select {
	color: #ffffff;
	background-color: #FFAF1E;
	padding: 7px;
	margin: 0 7px;
	border: 0;
	border-radius: 3px;
}

.search_select:hover {
	color: #FFAF1E;
	background-color: #ffffff;
}

.search_input {	
	padding: 7px;
	border: 0;
	margin: 0 7px;
	color: #979FAD;
	border-radius: 3px;
}



/* Адаптивно-альтернативне кохання */
@media screen and (max-width: 719.98px) {
	.container {
		width: 100%;
	}
	.head_menu {
		width: 100%;
		justify-content: space-between;
	}	
	.login_container {
		width: 100%;
		justify-content: right;
	}

}

@media screen and (max-width: 519.98px) {
	.head_menu {	
		grid-template-columns: 1fr 1fr;
		justify-items: center;
	}
}

@media screen and (max-width: 369.98px) {
	.logo {
		/*width: 144px;*/
		height: 80px;
	}
	.cart_box {
		height: 80px;
	}
	.head_logo_cart {
		justify-content: center;
	}
}

@media screen and (max-width: 319.98px) {
	.head_menu {	
		grid-template-columns: 1fr;		
	}
	.container {
		/*min-width: 210px;*/
	}
	.login_container {	
		justify-content: center;
	}
}

@media screen and (max-width: 219.98px) {
	.container {
		min-width: 90px;
	}

	.in_cart, .cart_price {
		display: none;
	}

	.cart_only_price {
		display: block;
		max-width: 32px;		
	}

	.cart_box {
		min-width: 0px;
	}

	.cart_content{
		min-width: 32px;
		min-height: 40px;
	}

	.logo {
		background-image: url(../images/shtab_.png);
		background-size: 40px;
		background-position: left bottom 4px;
		height: 60px;
		min-width: 50px;
	}

	.logo:hover {
		background-image: url(../images/shtab_h.png);		
	}

	.head_menu_burger {
		display: block;
		width: 44px;
	}

	.head_menu {
		display: none;
	}

	.login_item_vr {
		display: none;
	}

	.login_container {
		flex-wrap: wrap;
		width: 90px;		
	}

	.head_menu_container > .container {
		flex-wrap: wrap;
		justify-content: center;
	}

	
}


